Cython >= 0.29.14
numpy
scipy
scikit_learn
click==7.1.2
Flask==1.1.2
Flask-MySQLdb==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
mysqlclient==2.0.3
python-http-client==3.3.2
sendgrid==6.7.0
starkbank-ecdsa==1.1.0
threadpoolctl==2.1.0
Werkzeug==1.0.1
