{% extends "adlayout.html" %}
{% block content %}
<div>
MY DASHBOARD
</div>
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">shopping_cart</i>
                  </div>
                  <p class="card-category">Total Purchases</p>
                  <h3 class="card-title">{{values[2]}}
            
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons ">near_me</i>
                    <a href="/purchasehistory">Go to Purchases</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">attach_money</i>
                  </div>
                  <p class="card-category">Completed Payments</p>
                  <h3 class="card-title">{{values[0]}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons ">near_me</i>
					<a href="/purchasehistory">Go to Payments</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">warning</i>
                  </div>
                  <p class="card-category">Pending Payments</p>
                  <h3 class="card-title">{{values[1]}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">near_me</i> 
					<a href="/payments">Go to Payments</a>
                  </div>
                </div>
              </div>
            </div>
       
          </div>
		  
		    <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">group</i>
                  </div>
                  <p class="card-category">Total Customers</p>
                  <h3 class="card-title">{{values[5]}}
            
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">near_me</i>
                    <a href="/purchasehistory">Go to Purchases</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">av_timer</i>
                  </div>
                  <p class="card-category">Pending Complaints</p>
                  <h3 class="card-title">{{values[4]}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons ">near_me</i>
					<a href="/purchasehistory">Go to Complaints</a>
                  </div>
                </div>
              </div>
            </div>
           
		    <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-default card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">check</i>
                  </div>
                  <p class="card-category">Solved Complaints</p>
                  <h3 class="card-title">{{values[3]}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons ">near_me</i>
					<a href="/purchasehistory">Go to Complaints</a>
                  </div>
                </div>
              </div>
            </div>
			
          </div>
		  <div class="container-fluid">
          <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
		  <div class="card card-stats">
		  <canvas id="pie-chart" width="800" height="450"></canvas>
		  </div>
		  </div>
		  <div class="col-lg-6 col-md-6 col-sm-6">
		  <div class="card card-statss">
		  <canvas id="line-chart" width="800" height="450"></canvas>
		  </div>
		  </div>
		  </div>
		  </div>
		  </div>
		  </div>
		  
{% endblock %}
{% block heading %}DASHBOARD{% endblock %}
{% block dash_active %}active{% endblock %}
{% block chart_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Pending Payments", "Completed Payments"],
      datasets: [{
        label: "Payment Status",
        backgroundColor: ["#3e95cd", "#8e5ea2"],
        data: [{{values[1]}},{{values[0]}}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Status of Payments of the purchases'
      }
    }
});

var labels = [];
var values =[];
{% for value in trend %}
labels.push("{{value[0]}}")
values.push({{value[1]}})
{% endfor %}

new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: labels,
    datasets: [{ 
        data: values,
        borderColor: "#3e95cd",
		label: "Number of Purchases",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Purchase Trend'
    }
  }
});
</script>
{% endblock %}