{% extends "layout.html" %}
{% block heading %}COMPLAINTS{% endblock %}
{% block content %}
<center>
<div style="width:50%">
<div class="row">
    <div class="col s12 m7">
   
		
		
          
        <div class="card-content">
		<form action="/complaints" method="post">
		<table>
		<thead>
		  <tr>
			<td>Phone Number</td>
			<td><input placeholder="Phone Number" id="phno" name="phno" type="tel" class="validate" ></td>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td>Response to</td>
			<td><input placeholder="Email" id="email" name="email" type="email" class="validate" ></td>
		  </tr>
		  <tr>
			<td>Message</td>
			<td> <textarea placeholder="Your Message" id="message" name="message" class="materialize-textarea"></textarea></td>
		  </tr>
		    <tr>
			<td></td>
			<td> <button type="submit" id="ebtn" class="waves-effect waves-light btn"> Save </button></td>
		  </tr>
		  
		</tbody>
		</table>
			</form>
			<div align="center">
<p> MY COMPLAINTS </p></div>
<table>
    <thead>
        <tr>
            {% for c in colnames %}
                <th>{{c}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in details %}
            <tr>
               {% for data in row %} 
			   <td>{{data}}</td>
			   {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
        </div>

	
      </div>
    </div>
  </div>
</div>


</center>
{% endblock %}
{% block complaints_active %}active{% endblock %}
{% block table_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock %}
{% block table_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}