<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <!--<link href="assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" -->
  <link rel="stylesheet" href={{ url_for('static', filename="dashboard/assets/css/material-dashboard.css")}} />
  <!--<link rel="stylesheet" href={{ url_for('static', filename="login/css/style.css")}}>-->
  {% block table_css %}{% endblock %}
  
   <style>

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
  </style>
</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        <div class="emsg">Hello {{name}} !</div> 
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% block dash_active %}{% endblock %}">
            <a class="nav-link" href="/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
		  <li class="nav-item {% block user_active %}{% endblock %}">
            <a class="nav-link" href="/user">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
		  <li class="nav-item {% block history_active %}{% endblock %}">
            <a class="nav-link" href="/purchasehistory">
              <i class="material-icons">content_paste</i>
              <p>Purchase History</p>
            </a>
          </li>
		  <li class="nav-item {% block payments_active %}{% endblock %}">
            <a class="nav-link" href="/payments">
              <i class="material-icons">bubble_chart</i>
              <p>Pending Payments</p>
            </a>
          </li>
		  <li class="nav-item {% block complaints_active %}{% endblock %}">
            <a class="nav-link" href="/complaints">
              <i class="material-icons">language</i>
              <p>Complaints</p>
            </a>
          </li>
		   <li class="nav-item {% block notifications_active %}{% endblock %}">
            <a class="nav-link" href="/notifications">
              <i class="material-icons">notifications</i>
              <p>Notification</p>
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">{% block heading %}{% endblock %}</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
               <button style="margin:5px" type="button" class="icon-button" onclick="location.href='/notifications'">
    <span class="material-icons">notifications</span>
	{% if count > 0 %}
    <span class="icon-button__badge">{{count}}</span>
	{% endif %}
  </button>
              </li>
			   <li class="nav-item">
 <button style="margin:5px" type="button" class="icon-button" onclick="location.href='/'">
    <span class="material-icons">power_settings_new</span>
    <span class="icon-button_"></span>
  </button>
			  
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
		   {% block content %}{% endblock %}
		   {% block purchase %}{% endblock %}
		   {% block payments %}{% endblock %}
		   {% block notifications %}{% endblock %}
		</div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          
          
          <!-- your footer here -->
        </div>
      </footer>
    </div>
  </div>
  {% block table_js %}{% endblock %}
  {% block chart_js %}{% endblock %}
</body>

</html>